@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Work Sans', sans-serif;
  }