<div class="header">
    <img src="/assets/logo.png">
</div>

<div class="sec-1">
    <div>
        <button class="button" (click)="download()"> Download </button>
    </div>

    <div>
        <span>Motivos pelos quais a Odontoyou é PICA DEMAIS</span>
        <ul>
            <li>Dentista responsável linda e competente.</li>
            <li>Cafézinho sempre quente.</li>
            <li>Bolachinha top.</li>
            <li>Maridão ajudou a pintar a parede.</li>
            <li>Lore ipslum lore ipslum.</li>
            <li>Lore ipslum lore ipslum.</li>
            <li>Lore ipslum lore ipslum.</li>
            <li>Lore ipslum lore ipslum.</li>
        </ul>
    </div>
</div>

<div class="sec-2">
    <span>Baixe agora!</span>
    <span>Nosso cartão virtual para ficar por dentro das nossas redes sociais.</span>
</div>